@use '../../../styles/variables' as *;

.backButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: $light-pink;
	transition: all 0.3s ease;
	border-radius: 10px;
	border: none;
	padding: 10px;
	cursor: pointer;

	img {
		transition: all 0.3s ease;
	}

	&:hover {
		background-color: $full-pink;

		img {
			filter: brightness(2);
		}
	}
}

// Dark Theme
:global(body[data-theme='dark']) {
	.backButton {
		background-color: $transparent-pink;
		transition: all 0.3s ease;

		&:hover {
			background-color: $full-pink;

			img {
				filter: brightness(2);
			}
		}
	}
}
