@use './variables' as *;

// Dark styles
body[data-theme='dark'] {
	background-color: $dark-gray;
	color: white;

	// Main section

	#logo {
		content: url('./images/logo-light.svg');
	}

	/////////////////////////////////////////////////////////////////

	// Voting page

	.votingButtonsContainer {
		background-color: #282828;
		outline: 4px solid #282828;
	}

	.userAction {
		background-color: $transparent-white-bg;
	}

	.timestamp {
		background-color: $dark-gray;
	}

	/////////////////////////////////////////////////////////////////

	// Breeds page

	.dropdown {
		background-color: $transparent-white-bg;

		&:hover {
			outline: 2px solid $transparent-pink;
		}

		&:focus {
			outline: 2px solid $full-pink;
		}
	}

	.order {
		background-color: $transparent-white-bg;

		&:hover,
		&.active {
			outline: 2px solid $transparent-pink;
		}
	}

	.breed-name {
		background-color: $dark-gray;
	}

	.pageButton {
		background-color: $transparent-pink;

		&:hover {
			background-color: $full-pink;
			color: white;
		}

		&.disabled {
			background-color: $transparent-white-bg;
		}
	}

	/////////////////////////////////////////////////////////////////

	// Breeds Info page

	.breedDescription {
		outline: 2px solid $transparent-pink;
	}

	.breedTitle {
		background-color: #282828;
	}

	/////////////////////////////////////////////////////////////////

	// Gallery page

	.uploadButton {
		background-color: $transparent-pink;
	}

	.filtersGallery {
		background-color: $transparent-white-bg;
	}

	.dropdownLight {
		background-color: $dark-gray;
	}

	.buttonReload {
		background-color: $dark-gray;

		&:hover {
			background-color: $transparent-pink;
		}
	}

	.buttonAddFavorites {
		background-color: $dark-gray;

		&:hover {
			background-color: $full-pink;
		}
	}

	/////////////////////////////////////////////////////////////////

	// Upload page

	.uploadPopup {
		background-color: #282828;
	}

	.closeButton {
		background-color: $transparent-white-bg;

		&:hover {
			background-color: $transparent-pink;
		}
	}

	.uploadArea {
		border: 2px dashed $transparent-pink;
		background-color: $transparent-white-bg;

		&.active {
			background-color: $transparent-pink;
			border: 2px dashed $full-pink;
		}

		&.errorArea {
			background-color: $transparent-pink;
			border: 2px dashed $full-pink;
		}
	}

	.uploadFileButton {
		&:hover {
			background-color: $transparent-pink;
			color: $full-pink;
		}

		&.disabled {
			background-color: $transparent-white-bg;
			color: $full-gray;
		}
	}

	.uploadMessage {
		background-color: $transparent-white-bg;
	}

	/////////////////////////////////////////////////////////////////

	// Search result page

	.nothingFoundMessage {
		background-color: $transparent-white-bg;
	}

	.subtitle {
		&.bold {
			color: white;
		}
	}
}
