// Colors
$full-pink: #FF868E;
$light-pink: #FFDBDD;
$full-green: #97EAB9;
$light-green: #E0F9EA;
$full-yellow: #FFD280;
$light-yellow: #FFF1D9;
$full-violet: #B4B7FF;
$full-gray: #8C8C8C;
$light-gray: #F8F8F7;
$dark-gray: #1D1D1D;
$transparent-pink: rgba(255, 134, 142, 0.2);
$transparent-white-bg: rgba(255, 255, 255, 0.05);