// Colors
$full-pink: #ff868e;
$light-pink: #ffdbdd;
$full-green: #97eab9;
$light-green: #e0f9ea;
$full-yellow: #ffd280;
$light-yellow: #fff1d9;
$full-violet: #b4b7ff;
$full-gray: #8c8c8c;
$light-gray: #f8f8f7;
$dark-gray: #1d1d1d;
$transparent-pink: rgba(255, 134, 142, 0.2);
$transparent-white-bg: rgba(255, 255, 255, 0.05);
