@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.navCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	cursor: pointer;

	img {
		background-color: $full-pink;
		width: auto;
		height: auto;
		margin-bottom: 10px;
		border-radius: 20px;
		outline: 4px solid rgba(255, 255, 255, 0.2);
		outline-offset: -4px;
		transition: all 0.3s ease;
	}

	&.voting {
		img {
			background-color: $full-violet;
		}
	}

	&.breeds {
		img {
			background-color: $full-green;
		}
	}

	&.gallery {
		img {
			background-color: $full-yellow;
		}
	}

	.label {
		width: 100%;
		text-align: center;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $full-pink;
		background-color: white;
		padding: 10px;
		border-radius: 10px;
		transition: all 0.3s ease;
	}

	&:hover {
		img {
			outline: 0px solid rgba(255, 255, 255, 0.2);
			outline-offset: 0px;
		}

		.label {
			background-color: $light-pink;
		}
	}

	&.active {
		img {
			outline: 4px solid $light-pink;
			outline-offset: -4px;
		}

		.label {
			background-color: $full-pink;
			color: white;
		}
	}

	@include screen(mobile) {
		img {
			display: none;
		}
	}
}

// Dark theme
:global(body[data-theme='dark']) {
	.navCard {
		img {
			outline: 4px solid rgba(0, 0, 0, 0.2);
			transition: all 0.3s ease;
		}

		.label {
			background-color: $transparent-white-bg;
			transition: all 0.3s ease;
		}

		&:hover {
			img {
				outline: 0px solid rgba(0, 0, 0, 0.2);
			}

			.label {
				background-color: $light-pink;
			}
		}

		&.active {
			img {
				outline: 4px solid $full-pink;
			}

			.label {
				background-color: $full-pink;
				color: white;
			}
		}
	}
}
