@use '../../../styles/variables' as *;

.searchButton {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: auto;
    background-color: $light-pink;
    transition: all 0.3s ease;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: $full-pink;

        img {
            filter: brightness(10);
        }
    }
}

// Dark Theme
:global(body[data-theme='dark']) {
    .searchButton {
        background-color: $transparent-pink;
        transition: all 0.3s ease;

        &:hover {
            background-color: $full-pink;

            img {
                filter: brightness(10);
            }
        }
    }
}